<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diemen.easelife.easelife" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.diemen.easelife.easelife.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <permission android:protectionLevel="signature" android:name="com.diemen.easelife.easelife.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:name="com.diemen.easelife.pushnotificationhandler.PushInit"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name="com.diemen.easelife.pushnotificationhandler.MyService"/>

        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.diemen.easelife.easelife" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.diemen.easelife.pushnotificationhandler.PushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".StartActivity"
            android:label="Category" >
        </activity>


        <activity android:name="com.diemen.easelife.pushnotificationhandler.ChatActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SubcategoryActivity"
            android:label="Sub Category"
            android:parentActivityName=".StartActivity">
            <intent-filter>
                <action android:name="com.diemen.easelife.easelife.SUBCATEGORYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserListActivity"
            android:label="Users" >

        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings" >

        </activity>

        <activity

            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewStuff"
            android:label="Add New" >
            <intent-filter>
                <action android:name="com.diemen.easelife.easelife.ADDNEWSTUFF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ImageSelectAlertDialogActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:noHistory="true"
            android:label="Select Your Image">
        </activity>

    </application>

</manifest>
